$btncolor: #0091ea;
$fixwidth: 100%;
$font: lato;
$fcolor: #353b50;
$hrgbulancolor: #0091ea;
/*Body*/
.body {
	font-family: $font;
	color: $fcolor;
}
h1 {
	font-family: $font;
	color: $fcolor;
}
h2 {
	font-family: $font;
	color: $fcolor;
}
h3 {
	font-family: $font;
	color: $fcolor;
}
h4 {
	font-family: $font;
	color: $fcolor;
}
b {
	font-family: $font;
	color: $fcolor;
}
p {
	font-family: $font;
	color: $fcolor;
}
/*End Body*/
/*Logo*/
.logo {
	width:140px;
	padding-top: 20px;
	margin-left: 100px;
}
/*End Logo*/
/*Home & Contact*/
.home {
	padding: 20px;
	font-family: $font;
	color: $fcolor;
	font-weight: 500;
}
.contact{
	padding: 20px;
	font-family: $font;
	color: $fcolor;
	font-weight: 500;
}
/*End Home & Contact*/
/*Section atas*/
.bgataskiri {
max-width: $fixwidth;
max-height: 1113px;
}
.bgataskanan {

}
.ui.button {
	background-color: $btncolor !important;
	color: white !important;
	min-width: 100px !important;
}
.ui.form {
	margin-right: 60px !important;
}
	.ui.card {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.hargaperbulan {
		color:$hrgbulancolor;
	}
	.checked {
	  color: orange;
	}
    .overlay.fluid {
    	position: absolute;
    	bottom: 10%;
    	right: 0%;
    	background-color: white;
    	font-size: 9pt;
    }
    #loc {
    	font-size: 12pt !important;
    	margin-top: 5px;
    	text-align: left;
    }
/*End Slider*/
/*Footer*/
#footer {
	height: 35px;
	background-image: linear-gradient(142deg, #3c9ce5, #42b8fc);
	text-align: center;
	font-size: 12pt;
	color: white;
	vertical-align: center;
}
/*End Footer*/
@import "responsive";